.custom-file-input1 {
	display: inline-block;
	position: relative;
	color: #533e00;
	height: 50px;
	
}
.custom-file-input1 input {
	visibility: hidden;
	width: 100px;
}
.custom-file-input1:before {
	content: 'Choose File';
	display: block;
	background: -webkit-linear-gradient( -180deg, #ffdc73, #febf01);
	background: -o-linear-gradient( -180deg, #ffdc73, #febf01);
	background: -moz-linear-gradient( -180deg, #ffdc73, #febf01);
	background: linear-gradient( -180deg, #ffdc73, #febf01);
	border: 3px solid #dca602;
	border-radius: 10px;
	padding: 5px 0px;
	outline: none;
	white-space: nowrap;
	cursor: pointer;
	text-shadow: 1px 1px rgba(255,255,255,0.7);
	font-weight: bold;
	text-align: center;
	font-size: 10pt;
	position: absolute;
	left: 0;
	right: 0;
}
.custom-file-input1:hover:before {
	border-color: #febf01;
}
.custom-file-input1:active:before {
	background: #febf01;
}
