:root{
    --mau-xanh-nen: #01DF01;
    --mau-den-nhac: #262626;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    margin: 0;
}

a{
    text-decoration: none;
}

hr{
    margin: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.grid{
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
}


.Border__chan-phan-tu-nav{
    border-bottom: 3px solid black;
}

/* css cho nav */

.item-account{
    position: relative;
}

.item-account:hover .nav_mobile{
    display: block;
}

.nav_mobile{
    position: absolute;
    z-index: 222;
    background-color: white;
    right: 0;
    /* width: 50px; */
    box-shadow: 0 0 3px black;
    display: none;
    /* transition: ease-in 0.5s; */
    min-width: 160px;
    top: 40px;
    transform-origin: calc(100% - 25px) top;
    animation: headernotifyGrowth ease-in 0.2s;
    will-change: opacity transform;
}

.nav_mobile::before{
    content: "";
    display: block;
    position: absolute;
    /* background-color: black; */
    width: 40px;
    height: 30px;
    right: 0;
    top: -24px;
}

.nav_mobile .item{
    padding: 15px 30px;
    
}

.nav_mobile .item:hover{

    background-color: #262626;
}

.nav_mobile .item:hover a{
    color: #01DF01;
}

.nav_mobile .item a{
    color: black;
    text-decoration: none;
}

.nav-chinh{
    background-color: #f2f2f2;
    padding: 8px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 222;
}

.khoang-cach-cac-phan{
    margin: auto 0 ;
}

.nav-can-len{
    display: flex;
    justify-content: space-between;
}

.hien-thi-menu{
    margin: 0;
}

.hien-thi-li{
    display: inline-block;
}

.item-menu{
    font-size: 20px;
    margin-left: 20px;
}

.hien-thi-li  .logo{
    width: 30px;
    /* font-size: 25px; */
}

.logo-text{
    font-size: 25px;
    margin: 0;
}

.thanh-search{
    /* margin-left: 1500px; */
    /* margin-right: 1500px; */
}

.input-search{
    width: 380px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 36px;
    outline: none;
}

.item-icon-ul{
    margin: 0;
}

.item-icon-li{
    display: inline-block;

}

.item-icon-li i{
    font-size: 22px;
    margin: 0 5px;
}

/* phần slide cho nav*/
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 333;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #262626;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #01DF01;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* khung chung */
.row__box{
    /* background-color: blue; */
    width: 100%;
    text-align: center;
}

header{
    background-color: var(--mau-den-nhac);
    padding: 5px 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 22px;
    color: var(--mau-xanh-nen);
    font-size: 16px;
}

.khoan_cach{
    margin-top: 50px;
}

.khoan_cach-bao{
    margin-top: 20px;
}

/* css cho khung searhc body */
 .boddy__search{
    /* background: blue; */
    padding: 60px 0;
    border-bottom: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;

}

.boddy__search input{
    /* font-size: 18px; */
    padding: 5px;
    width: 70%;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 0;
    outline: white;
}

.boddy__search button{
    /* font-size: 20px; */
    padding: 5px;
    width: 40px;
    background: none;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,0.5);
    background-color: var(--mau-den-nhac);
    color: var(--mau-xanh-nen);
}

.boddy__search button:hover{
    background-color: #E6E6E6;
}

/* css cho phần theo dõi */

.body__theodoi{
    padding: 50px 20px;
    border-bottom: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
}

.box__tron-item{
    /* background-color: ; */
    padding: 10px;
    border-radius: 50%;
    color: black;
    box-shadow: 0 0 2px black;
    margin: 0 10px;
}


.box__tron-item:hover{
    opacity: 0.7;
}
/* tạo khuing cho phần chuyện nhà nông */

.boddy__chuyen-nha-nong{
    padding: 10px ;
    border-bottom: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
}

.phan_img{
}

.phan_img img{
    width: 100%;
    height: 100%;
}

.phan_text{
    padding: 0;
    text-align: left;
    color: black;
    overflow: hidden;
}

.phan_text h6,
.phan_text p{
    margin: 0;
}

.phan_text h6{
    font-size: 16px;
    margin: 6px 0;
}

.phan_text p{
    font-size: 14px;
    color: rgba(0,0,0,0.4);
}

.phan_text:hover h6,
.phan_text:hover p{
    opacity: 0.8;
}

/* css cho phàn images */

.khoan_cach-image{
    margin-top: 25px
}

.body__anh{
    padding: 40px 0;
}

.body__anh img{
    width:100%;
    height: 100%;
}

/* css cho phần thể loại */

.khoang-cach-theloai{
    margin-top: 20px;
}

.body_theloai{
    padding: 15px;
    border-bottom: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
}

.phan__text{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #D8D8D8;

}

.text-title p{
    color: black;
    font-weight: 500;
    margin-bottom: 5px;
}

.text-soluong p{
    color: rgba(0,0,0,0.4);
    margin-bottom: 5px;
}

/* css cho phần bài báo chính */

/* .conent__blog-body .col-sm-9{
    padding-right: 20px;
    padding-left: 20px;
} */

.bai__bao_nen{
    font-family: 'Times New Roman', Times, serif;
}


.bai__bao_nen .text{
    margin-top: 30px;
    margin-bottom: 30px;
}

.bai__bao_nen .nut__doc{
    text-align: center;

}

.bai__bao_nen .nut__doc button{
    border: 2px solid black;
    border-radius: 0;
    background: none;
    padding: 8px 15px;
    transition: 0.5s;
}

.bai__bao_nen .nut__doc button:hover{
    background-color: black;
    color: white;
}

/* css cho phần báo đọc thêm */

.khoang_cach-bai-bao-them{
    /* margin-top: 50px; */
}

.ke-ngang hr{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 50%;
    text-align: center;
}

.text{
    color: black;
}

.btn-reading{
    text-align: center;
}

.btn-reading button{
    border: 3px solid var(--mau-xanh-nen);
    border-radius: 0;
    background: none;
    padding: 6px 20px;
    transition: 0.5s;
    margin-top: 10px;
}

.btn-reading button:hover{
    background-color: var(--mau-xanh-nen);
    color: black;
}

/* css cho fooer */

.footer{
    width: 100%;
    background-color: #262626;
    padding: 70px 0;
    color: white;
}

.tieu-de-footer{
    color: var(--mau-xanh-nen);
}

.chua-item{
    margin-top: 20px;
}

.item-mang-xh{
    padding: 10px;
    border: 2px solid var(--mau-xanh-nen);
    border-radius: 50%;
    margin: 5px 5px;

}

.item-mang-xh:hover{
    background-color: var(--mau-xanh-nen);
    color: black;
    transition: ease-in 0.3s;
    cursor: pointer;
}

.btn-footer{
    width: 115px;
    background: 0;
    padding: 10px 15px;
    border: 3px solid var(--mau-xanh-nen);
    color: white;
    margin: 5px 5px;
}

.btn-footer:hover{
    border: 3px solid var(--mau-xanh-nen);
    background-color: var(--mau-xanh-nen);
    color: black;
    transition: ease-in 0.3s;
}

/* css cho phàn tiêu đề bài báo */
.title__blog{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

.title__blog h1{
    font-weight: 500;
}

.anh-duoi-chư{
    text-align: center;
    color: rgba(0,0,0,0.6);
    font-style: italic;
}

.anh-to-ra{
    width: 100%;
}

.an__o_tb-mb{
    display: block;
}

.an__o_pc{
    display:none;
}

/* Tablet và mobile: width < 1024px */
@media only screen and (max-width: 63.9375em) {
    

   .can_rong_ra{
        max-width: 100%;
    }
    
    .xuong-thanh-cot{
        flex-direction: column;
    }
   
    .khoan_cach__tb_mb{
        margin-top: 50px;
    }

    .an__o_tb-mb{
        display: none;
    }

    .an__o_pc{
        display:block ;
    }
}

/* Tablet: width >= 770px and width < 1024px */
@media only screen and (min-width: 48.125em) and (max-width: 63.9375em){
    .header__an-text h1{
        font-size: 35px;
   }

   .header__an-text h4{
       font-size: 24px
   }

   .title__blog h1{
       font-size: 28px;
   }
}

/* giao diện mobile */
@media only screen and (max-width: 47.125em){
    .header__an-text h1{
        font-size: 30px;
   }

   .header__an-text h4{
       font-size: 20px
   }

   .title__blog h1{
    font-size: 25px;
    }

    .phan_nav-cho-mobile{
        display: block;
    }

    .phan_nav-cho-tb-PC{
        display: none;
    }
}


/* dùng cho tablet và mobile */

@media only screen and (max-width: 63.9375em){
    


    /* css phần sale */

    .Phan__sale-off{
        display: none;
    }

    .Phan__sale-off-repon{
        display: block;
        position: relative;
    }

    .Phan__sale-off-repon img{
        width: 100%;
        height: 450px;
    }

    .nen-de-len-repon{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.7);
    }

    .phan-cho-chu{
        position: absolute;
        top: 50%;
        /* left: 50%; */
        /* transform: translate(-50%,-50%); */
    }

    /* css footer  */

    .repon-footer{
        max-width: 100%;
        margin-bottom: 25px;
        text-align: center;
    }
    
    .thanh-cot-repon{
        flex-direction: column;
    }
}


/* giao diện mobile */
@media only screen and (max-width: 47.888em){
    .Main-nav-moblie{
        display: block;
    }

    .Main-nav{
        display: none;
    }

    .Main-nav-moblie{
        background-color: #F2F2F2;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 222;
        top: 0;
        padding: 10px 0;
    }
    
    .chua-item-chung{
        display: flex;
        justify-content: space-between;
    }
    
    .item-menu{
        display: flex;
    }
    
    .item-menu i,
    .item-mua-hang i{
        font-size: 20px;
        vertical-align: middle;
    }
    
    .item-logo img{
        width: 30px;
        margin: auto 10px;
    }
    
    .item-search input{
        border-radius : 5px;
        background-color: white;
        outline:none;
        border: none;
        padding: 5px 0;
        width: 100%;
        vertical-align: middle;
    }
    
    .item-mua-hang{
        margin: auto 0;
    }
    
    .item-mua-hang i{
        padding: 6px;
        border-radius: 50%;
        background-color: #01DF01;
        margin: auto 3px;
    }

    .chua__text .row{
        flex-direction: column;
    }
    .phan_anh-noi{
        display: none;
    }

    .title-text{
        position: relative;
        top: 0;
        transform: none;
    }

    .tieu_de{
        max-width: 100%;
        margin-bottom : 140px;
    }

    .san-pham .row{
        flex-direction: column;
    }

    .col-san-pham-hot{
        max-width: 100%;
    }

}