*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

:root{
    --mau-xanh-nen : #01DF01;
}

body {
    cursor: default;
    font-family: 'Open Sans', sans-serif;
}

.khoang-cach-cac-phan-chinh{
    margin: 100px 0 50px;
}

/* css cho nav */

.item-account{
    position: relative;
}

.item-account:hover .nav_mobile{
    display: block;
}

.nav_mobile{
    position: absolute;
    z-index: 222;
    background-color: white;
    right: 0;
    /* width: 50px; */
    box-shadow: 0 0 3px black;
    display: none;
    /* transition: ease-in 0.5s; */
    min-width: 160px;
    top: 40px;
    transform-origin: calc(100% - 25px) top;
    animation: headernotifyGrowth ease-in 0.2s;
    will-change: opacity transform;
}

.nav_mobile::before{
    content: "";
    display: block;
    position: absolute;
    /* background-color: black; */
    width: 40px;
    height: 30px;
    right: 0;
    top: -24px;
}

.nav_mobile .item{
    padding: 15px 30px;
    
}

.nav_mobile .item:hover{

    background-color: #262626;
}

.nav_mobile .item:hover a{
    color: #01DF01;
}

.nav_mobile .item a{
    color: black;
    text-decoration: none;
}

.nav-chinh{
    background-color: #f2f2f2;
    padding: 8px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 222;
}

.khoang-cach-cac-phan{
    margin: auto 0 ;
}

.nav-can-len{
    display: flex;
    justify-content: space-between;
}

.hien-thi-menu{
    margin: 0;
}

.hien-thi-li{
    display: inline-block;
}

.item-menu{
    font-size: 20px;
    margin-left: 20px;
}

.hien-thi-li  .logo{
    width: 30px;
    /* font-size: 25px; */
}

.logo-text{
    font-size: 25px;
    margin: 0;
}

.thanh-search{
    /* margin-left: 1500px; */
    /* margin-right: 1500px; */
}

.input-search{
    width: 380px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 36px;
    outline: none;
}

.item-icon-ul{
    margin: 0;
}

.item-icon-li{
    display: inline-block;

}

.item-icon-li i{
    font-size: 22px;
    margin: 0 5px;
}

/* phần slide cho nav*/
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 333;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #262626;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #01DF01;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* css cho phần content tiêu đề trang */
.tieu-de-trang {
    text-align: left;
    font-weight: bold;
}

/* css thanh nav cộng đồng */

.box-nav-chung{
    /* text-align: left; */
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
}

.btn-dang-bai{
    width: 150px;
    background-color: var(--mau-xanh-nen);
    border: none;
    padding: 8px 15px;
    /* margin: 0  10px; */
    border-radius: 36px;
    outline: none;
}

.btn-dang-bai:hover{
    opacity: 0.7;
}


.tim-theo .ten-loc{
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.tim-theo .lua-chon{
    padding: 10px 15px;

}





/* css modal */

.modal-header{
    background-color: #85eb85;
}

.edit-box-chung{
    padding: 10px 0;
}

.edit-chu-chung{
    font-size: 18px;
    margin-bottom: 5px;
}

.body-up-anh .file{
    font-size: 16px;
    margin-top: 5px;
}

.mota-san-phan{
    width: 100%;
    resize: none;
    height: 120px;
}

.btn-dang-bai{
    background-color: var(--mau-xanh-nen);
    padding: 10px 15px;
    outline: none;

}


/* css cho phần bán sản phẩm */

.phan-hien-san-pham{
    padding: 20px 0;
    display: flex;
    text-align: left;
}

.flex-chon-1{
    flex: 1;
}
.flex-chon-2{
    flex: 2;
}
.flex-chon-1{
    flex: 1;
}

.anh-san-pham img{
    width: 100%;
}

.edit-chung-sp{
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.1);

}

.ten-san-pham{
    font-weight:bold;
}

.ten-nguoi-ban{
    font-size: 20px;
    font-weight: bold;
}

.gia-san-pham .so-gia{
    font-size: 20px;
    color: red;
}

.lien-he{
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.btn-lien-he-nguoi-ban{
    margin-top: 10px;
    text-align: end;
    background-color: var(--mau-xanh-nen);
    padding: 10px 15px;
    /* border: 3px solid var(--mau-xanh-nen); */
    /* background: none; */
    border: none;
}

.btn-lien-he-nguoi-ban:hover{
    opacity: 0.8;
}

/* tạo scroll */

.tao-scrol-sp{
    height: 1350px;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 5px;
}

/* css cho fooer */

.footer{
    width: 100%;
    background-color: #262626;
    padding: 70px 0;
    color: white;
}

.noi-dung-khuye-mai i{
    font-size: 18px;
    color: var(--mau-xanh-nen);
    margin-right: 10px;
}

.tieu-de-footer{
    color: var(--mau-xanh-nen);
}

.chua-item{
    margin-top: 20px;
}

.item-mang-xh{
    padding: 10px;
    border: 2px solid var(--mau-xanh-nen);
    border-radius: 50%;
    margin: 5px 5px;

}

.item-mang-xh:hover{
    background-color: var(--mau-xanh-nen);
    color: black;
    transition: ease-in 0.3s;
    cursor: pointer;
}

.btn-footer{
    width: 115px;
    background: 0;
    padding: 10px 15px;
    border: 3px solid var(--mau-xanh-nen);
    color: white;
    margin: 5px 5px;
}

.btn-footer:hover{
    border: 3px solid var(--mau-xanh-nen);
    background-color: var(--mau-xanh-nen);
    color: black;
    transition: ease-in 0.3s;
}

/* dùng cho tablet và mobile */

@media only screen and (max-width: 63.9375em){
    /* css footer  */

    .repon-footer{
        max-width: 100%;
        margin-bottom: 25px;
        text-align: center;
    }
    
    .thanh-cot-repon{
        flex-direction: column;
    }



    /* tao cotj cho repon */
    .tao-cot{
        flex-direction: column;
    }

    .rong-ra-full{
        max-width: 100%;
    }

    .tao-sroll{
        all: unset;
        padding: 0 20px ;
    }
}

/* Tablet: width >= 770px and width < 1024px */
@media only screen and (min-width: 48.125em) and (max-width: 63.9375em) {
    /* phần cho nav */
    .input-search{
        width: 300px;
    }

    .logo-text{
        font-size: 20px;
    }

    .hien-thi-li .logo{
        width: 35px;
    }
}


/* giao diện mobile */
@media only screen and (max-width: 47.888em){
    /* css cho nav */
   .input-search{
       width: 220px;
   }

   .logo-text{
       font-size: 20px;
   }

   .hien-thi-li .logo{
       width: 35px;
   }

   .repon-mobile{
       display: none;
   }

   .sidepanel a{
       font-size: 18px;
   }.input-search{
       width: 220px;
   }

   .logo-text{
       font-size: 20px;
   }

   .hien-thi-li .logo{
       width: 35px;
   }

   .repon-mobile{
       display: none;
   }

   .sidepanel a{
       font-size: 18px;
   }

   .tao-cot-mobile{
    flex-direction: column;
    }
    
    .rong-ra-full-mobile{
        max-width: 100%;
    }

}